---
import BaseLayout from "../../layouts/BaseLayout.astro";
import JsonFormatterTool from "../../features/json-formatter/JsonFormatter";
---

<BaseLayout title="JSON Formatter">
  <h2 class="mb-6 text-2xl font-semibold">JSON Formatter</h2>

  <JsonFormatterTool client:load />
</BaseLayout>